[user]
  name = "Dummy User"
  email = "dummy@email.address"
[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  quotepath = false
  editor = nvim
  precomposeunicode = true
  pager = delta
[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto
  interactive = true
  ui = true
[alias]
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
  gen-ignore = !"f() { local s=$1; shift; while [ $# -gt 0 ]; do s="$s,$1"; shift; done; curl "http://gitignore.io/api/$s"; }; f"
  showuser = config --get-regexp "^user"
  br = branch
  contains = branch -r --contains
  bc = checkout -b
  ci = commit -sS
  wip = commit -m wip
  co = checkout
  com = checkout master
  sco = !git checkout $(git branch | peco)
  di = diff --color-words
  dc = diff --cached
  s = status --short --branch
  st = status --branch
  sh = show
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg = log --graph
  last = !git --no-pager log -1 HEAD
  log1 = log --oneline
  info = remote show origin
  sm = submodule
  su = submodule update
  au = update-index --assume-unchanged
  noau = update-index --no-assume-unchanged
  nau = update-index --no-assume-unchanged
  sw = update-index --skip-worktree
  nosw = update-index --no-skip-worktree
  nsw = update-index --no-skip-worktree
  vau = !git ls-files -v | grep ^[a-z]
  vsw = !git ls-files -v | grep ^[Ss]
  mt = mergetool
  fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
  fpr = fetch origin +refs/pull/*:refs/remotes/pull/*
  f = fetch --prune
  fu = fetch --prune upstream
  fp = !"git fetch && git pull"
  pull-dry-run = !"git fetch origin; B=$(git rev-parse --abbrev-ref HEAD); git diff --stat --summary ${B}..origin/${B}"
  pu = !"git push -u origin $(git branch --contain=@ | awk '{print $2}')"
  puf = push --force-with-lease
  pt = push --tags
  rebase = rebase -S
  rb = rebase
  rbm = rebase origin/master
  rbi = rebase --interactive
  rbim = rebase --interactive origin/master
  rbc = rebase --continue
  rba = rebase --abort
  delete-merged-branch = !"git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d"
[branch]
  autosetuprebase = always
[commit]
  template = ~/.git-commit.template
[diff]
  algorithm = histogram
  compactionHeuristic = true
  renames = true
  tool = vimdiff
[i18n]
  commitencoding = utf-8
[log]
  date = local
[merge]
  ff = false
  tool = vimdiff
[pull]
  rebase = true
[push]
  default = simple
[rebase]
  autosquash = true
[status]
  showUntrackedFiles = all
[include]
  path = ~/.gitconfig-local
[pager]
  branch = peco
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Solarized (dark)
  navigate = true
[interactive]
  diffFilter = delta --color-only
